
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <section class="content">
        <div class="grid">
            <img src="~/Content/Assets/images/about1.png" width="100%" />
            <div>
                <h2>@ViewData["message"]</h2>
                <p>
                    Based on the İstanbul, Art On is a remote art gallery active
                    worldwide. After 10 years spent in the art market business, it is
                    the desire to represent and promote artists with whom she shares a
                    sincere and personal connection. Stripping the classic gallery
                    from its static space, she decided to review its core concept in
                    order to reposition the main focus on the audience's encounter
                    with art. Whether it be exhibitions by tomorrow’s leading artists
                    or established figureheads, Art On is in constant search for
                    reinvention. In addition to participating in international art
                    fairs, it offers pop-up exhibitions and roaming art projects in
                    various locations thanks to its extensive network of partners.
                    <br /><br />
                    Beyond meeting the needs of private and corporate collectors, Art
                    On extends its scope of services to sourcing, art consultancy and
                    collaborations with interior & landscape designers, decorators and
                    architects.
                </p>
            </div>
        </div>
    </section>
</div>

