
@{
    ViewBag.Title = "Artist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="content">
        <h2>@ViewData["message"]</h2>
        <div class="grid">
            <div>
                <img src="~/Content/Assets/images/artist1.png" width="100%" />
                <h2>Alain Laboile</h2>
            </div>
            <div>
                <img src="~/Content/Assets/images/artist2.png" width="100%" />
                <h2>Bas Meewus</h2>
            </div>
            <div>
                <img src="~/Content/Assets/images/artist3.png" width="100%" />
                <h2>Jee Young Lee</h2>
            </div>
        </div>
        <div class="grid">
            <div>
                <img src="~/Content/Assets/images/artist4.png" width="100%" />
                <h2>Dean West</h2>
            </div>
            <div>
                <img src="~/Content/Assets/images/artist5.png" width="100%" />
                <h2>Cecilia Paredes</h2>
            </div>
            <div>
                <img src="~/Content/Assets/images/artist6.png" width="100%" />
                <h2>Joachim Schmeisser</h2>
            </div>
        </div>
    </div>
</div>