
@{
    ViewBag.Title = "Exhibitions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <section class="content">
        <h2>@ViewData["message"]</h2>
        <div class="grid">
            <img src="~/Content/Assets/images/exh1.png" width="100%">
            <div>
                <h1>Blackdust</h1>
                <i>
                    Cecilia Paredes<br /><br />
                    20 Oct - 27 Nov 2022 <br /><i>
                        <p>
                            'Blackdust'is a three year long project by French Artist Cecilia Paredes
                            and the final chapter of his Dust saga.<br />
                            Reinvastigating the theme of incarnation and life cycles,
                            Blackdust highlists the artist's photographic mastery through
                            near-to monochromotic images.
                        </p>
            </div>
        </div>
        <div class="grid">
            <img src="~/Content/Assets/images/exh2.png" width="100%">
            <div>
                <h1>The Last of Their Kind</h1>
                <i>
                    Joachim Schmeisser<br /></br/>
                    1 March - 25 April 2023 <br /></br/><i>
                        <p>
                            From March 1st  until April 25th and to celebrate the launch of
                            the eponymous book, Echo Fine Arts is proud to present
                            «The Last of Their Kind»: an online solo show featuring
                            twenty-four large-format black and white animal portraits
                            by German photographer Joachim Schmeisser.<br />
                            For years, the Hasselblad Masters winner has been photographing
                            the last giants of Africa at close range, creating exceptionally
                            intimate portraits of species threatened with extinction.
                        </p>
            </div>
        </div>
        <div class="grid">
            <img src="~/Content/Assets/images/artist1.png" width="100%">
            <div>
                <h1>La Famille</h1>
                <i>
                    Alain Laboile<br /><br />
                    28 June - 28 August 2023 <br /><br /><i>
                        <p>
                            Self-taught photographer, Alain Laboile uses his Leica Q+28 mm
                            to capture the effervescence of his large family life.
                            Through a series of black and white photographs, the photo album
                            turns into a timeless and universal legacy which Echo Fine Arts
                            is delighted to exhibit as a pop-up solo exhibition along with a
                            digital show entitled "La Famille".
            </div>
        </div>

    </section>
</div>

